.con {
	display: flex !important;
	align-items: center;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;
	background-image: url("/parking.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: white;
}
